@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Administrator</h1>
    <p><i>We are Driven by UpTime</i> <a href="https://www.navistar.com/navistar/"></a></p>
</div>
<!DOCTYPE html>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Period 1: November</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 2: December</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 3: January</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 4: February</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 5: March</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 6: April</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 7: May</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 8: June</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 9: July</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 8 May</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 10: August</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 11: September</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Period 12: October</th>
                <th>Employee ID</th>
                <th>Finance Department</th>
                <th>SLT(Senior Leadership Team)</th>
                <th>Department Owner</th>
                <th>Date/Time Stamp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Approved Postions</th>
                <th>Contractors</th>
                <th>Open</th>
                <th>Forecast</th>
                <th>Saved</th>
                <th>Submitted</th>
                <th>
                    <div class="container">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Dropdown button
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Save</a>
                                <a class="dropdown-item" href="#">Submit</a>
                                <a class="dropdown-item" href="#">Not Started</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div class="container">
    </div>
</div>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<section>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</section>
